<nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark shadow fixed-top gradient-navbar">
  <a class="navbar-brand" href="">Gallery</a>
  <button aria-controls="navbarToggler"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-target="#navbarToggler"
          data-toggle="collapse"
          type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
       id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a (click)="navigateToExplorePage()" class="nav-link navbar-link">{{ 'navbar_link_1' | translate }}</a>
      </li>
      <li class="nav-item">
        <a (click)="navigateToZkPage()" class="nav-link navbar-link">{{ 'navbar_link_2' | translate }}</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 mr-auto">
      <input (keyup.enter)="navigateToExplorePageWithSearch()" [(ngModel)]="keyword" class="form-control mr-sm-2"
             name="keyword" placeholder="Search">
      <button (click)="navigateToExplorePageWithSearch()" class="my-2 my-sm-0 btn btn-light" type="button">
        {{ 'navbar_search_button' | translate }}
      </button>
    </form>
    <select (change)="switchLanguage($event)" class="form-select mr-3">
      <option value="lt">LT</option>
      <option value="en">EN</option>
    </select>
    <button (click)="navigateToUploadPage()" class="btn btn-light">{{ 'navbar_upload' | translate }}</button>
  </div>
</nav>
