<div class="container mt-3">
  <div class="row filtering-area">
    <div class="col-12 col-lg-4">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ 'filter_tag' | translate }}</mat-label>
        <input [(ngModel)]="tagString" matInput type="text">
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-4">
      <mat-form-field color="accent" subscriptSizing="dynamic">
        <mat-label>{{ 'filter_date' | translate }}</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input formControlName="start" matStartDate placeholder="Start date">
          <input formControlName="end" matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        @if (range.controls.start.hasError('')) {
          <mat-error>{{ 'filter_wrong_start_date' | translate }}</mat-error>
        }
        @if (range.controls.end.hasError('matEndDateInvalid')) {
          <mat-error>{{ 'filter_wrong_end_date' | translate }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-4 text-lg-right text-center">
      <button (click)="filterImages()" class="btn colored-button">{{ 'filter_button' | translate }}</button>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div *ngFor="let image of images" class="image-container col-lg-3 col-md-6 col-8 mb-3">
      <img (click)="redirectToView(image.id)" [src]="'data:image/jpg;base64,' + image?.imageThumbnail" alt="Image"/>
    </div>
  </div>
</div>

<div class="container-fluid fixed-bottom">
  <div class="row navigation-arrows">
    <div class="col text-left">
      <button (click)="previousPage()" [disabled]="previousDisabled" color="accent" mat-flat-button>
        <i class="fas fa-arrow-left"></i>
      </button>
    </div>
    <div class="col text-right">
      <button (click)="nextPage()" [disabled]="nextDisabled" color="accent" mat-flat-button>
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
