<div class="container mt-5">
  <div class="row">
    <mat-card class="col-lg-6 col-md-6 col-12 preview-card">
      <mat-card-header class="pb-3">
        <mat-card-title>Image Preview</mat-card-title>
      </mat-card-header>
      <div *ngIf="loading" class="spinner">
        <mat-spinner></mat-spinner>
      </div>
      <img *ngIf="!loading" [src]="'data:image/jpg;base64,' + image?.imageData" alt="Image" class="image-display"
           mat-card-image/>
    </mat-card>
    <mat-card class="col-lg-6 col-md-6 col-12 preview-card">
      <mat-card-header class="pb-3">
        <mat-card-title>Image Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="detail">
          <h2 class="field-label">Name</h2>
          <p>{{ image?.name }}</p>
        </div>
        <mat-divider></mat-divider>
        <div class="detail">
          <h2 class="field-label">Description</h2>
          <p>{{ image?.description }}</p>
        </div>
        <mat-divider></mat-divider>
        <div class="detail">
          <h2 class="field-label">Upload Date</h2>
          <p>{{ image?.uploadDate }}</p>
        </div>
        <mat-divider></mat-divider>
        <div class="detail">
          <h2 class="field-label">Tags</h2>
          <mat-chip-set>
            @for (tag of tagsStringArray; track tag) {
              <mat-chip>{{ "#" + tag }}</mat-chip>
            }
          </mat-chip-set>
        </div>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions class="button-display">
        <div>
          <button (click)="navigateToEditPage(id)" class="mx-1 btn colored-button">Edit Image</button>
          <button (click)="openDialog('0ms', '0ms')" class="mx-1 btn btn-danger">Delete Image</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
